body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B292C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body,html{
  height: 100%;
  margin: 0;
}

.contacts_card {
  margin-top: 80px;
  background-color: #8693AB;
  border: groove 1px rgb(43,41,44, 0.3);
  border-radius: 20px;
}
.contacts_card1 {
  background-color: #8693AB;
  min-height: 100vh;
  max-height: 100vh;
  width: 350px;
}

.review_button {
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  height: 50px;
  width: 50px;
}

.delete_button {
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  height: 50px;
  width: 50px;
}

.contacts_body{
  padding:  3.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.contacts{
  list-style: none;
  padding: 0;
  /* background-color: #96CDFF; */
}
.contacts li{
  width: 100% !important;
  padding: 5px 5px;
  margin-bottom: 5px !important;
  background-color: rgb(43,41,44, 0.3);
  margin: 8px auto; 
  padding: 15px;  
  border-radius: 20px;
  border: groove 1px #96CDFF80;
}
.img_cont{
  position: relative;
  height: auto;
  
}
.img_cont_msg{
  height: 40px;
  width: 40px;
}
.user_info{
margin-top: 0px;
margin-bottom: 0px;
margin-left: 15px;
text-shadow: 2px 2px 4px #000000;
background-color: #96CDFF;
border-radius: 0px 20px 20px 0px;
border: hidden 1px #077699;
box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
padding: 5px 140px 5px 30px;
margin: 15px 0 0 -5px;
height: 30px;
color: white;

}
.user_button{
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  left:50%
}
.user_info span{
  font-size: 20px;
  color: white;
  
}
.user_img{
  height: 55px;
  width: 60px;
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  z-index: 100 !important;
  
}

.msg_card_body{
  overflow-y: auto;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container{
  align-content: center;
}
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
   box-shadow:none !important;
 outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.active{
  background-color: white;
}
.active:hover{
  background-color: rgb(211, 207, 207);
}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;

}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
width: 200px;
position: absolute;
left: 0;
bottom: -15px;
color:black;
font-size: 10px;
}
.msg_time_send{
text-align: end;
width: 200px;
position: absolute;
right:0;
bottom: -15px;
color:black;
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
  position: absolute;
  right: 5px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 40px;
}
#action_menu_btn1{
  position: absolute;
  right: 10px;
  top: 80px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
/* @media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
} */

body,html{
  height: 100%;
  margin: 0;
}

.chatContainer {
  background-color: "#8693AB"
}


.contacts_body{
  padding:  3.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.container{
  align-content: center;
}
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
   box-shadow:none !important;
 outline:0px !important;
}


.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 5px;
  margin-bottom: 5px !important;
}
.active{
  background-color: white;
}
.active:hover{
  background-color: rgb(211, 207, 207);
}
.user_img{
  height: 50px;
  width: 50px;
  border:1.5px solid black;

}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;

}

.img_cont_msg{
  height: 40px;
  width: 40px;
}

.user_button{
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  right:10%
}
.user_info span{
font-size: 20px;
color:black;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color:black;
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color:black;
font-size: 10px;
}
.msg_head{
position: relative;
}

.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

