body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B292C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body,html{
  height: 100%;
  margin: 0;
}

.contacts_card {
  margin-top: 80px;
  background-color: #8693AB;
  border: groove 1px rgb(43,41,44, 0.3);
  border-radius: 20px;
}
.contacts_card1 {
  /* background-color: #8693AB;
  min-height: 100vh;
  max-height: 100vh;
  width: 350px; */
  background-color: #8693AB;
  border: groove 1px rgb(43,41,44, 0.3);
  border-radius: 20px;
}

.d-flex.db-highlight {
  width: 100px;
  color: white;
}

.review_button, .delete_button {
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 87px;
  left: 180px;
  
}

.contacts_body{
  height: 74vh;
}

.contacts li{
  margin-bottom: 5px;
  background-color: rgb(43,41,44, 0.3);
  border-radius: 20px;
  border: groove 1px #96CDFF80;
}

.img_cont_msg{
  height: 40px;
  width: 40px;
}

li.active {
  margin-right: auto;
  margin-left: auto;
  height: 80px;
}

.user_img{
  height: 42px;
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  z-index: 100 !important;
  position: relative;
  border-radius: 100%;
  top: 9px;
  right: -5px;
  
}

.card-footer{
border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.type_msg{
  background-color: rgb(43,41,44, 0.3);
  border: 0;
  color: white;
  height: 74px;
  width: 253px;
  border: groove 2px #00000030;
  position: relative;
  top: 187px;
  left: 40px;
}

.type_msg::placeholder{
  text-shadow: 2px 2px 4px #a1a1a1;
  color: white;
}
.attach_btn{
  background-color: rgba(0,0,0,0.3);
  color: white !important;
  cursor: pointer;
  position: relative;
  top: 270px;
  width: 40px;
  height: 52px;
  border-radius: 0px 0px 0px 21px;
  text-align: center;
  padding-top: 30px;
  border: outset 1px #00000030;
  left: -1px;
}
.send_btn{
  border-radius: 0px 0px 19px 0px;
  background-color: rgba(0,0,0,0.3);
  border: outset 1px #00000030;
  color: white;
  cursor: pointer;
  padding-top: 30px;
  text-align: center;
  width: 44px;
  height: 51px;
  position: relative;
  right: -299px;
  top: 103px;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.active{
  background-color: white;
}
.active:hover{
  background-color: rgb(211, 207, 207);
}

.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
height: 40px;
margin: 3px 5px 3px 5px;
border-radius: 25px;
background-color: #077699;
padding: 2px;
position: relative;
box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
border: solid 2px #077699;
}
.msg_cotainer_send{
margin: 3px 5px 3px 5px;
border-radius: 25px;
background-color: #96CDFF;
padding: 2px;
position: relative;
box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
height: 40px;
border: solid 2px #96CDFF;
}

.msg_time{
width: 200px;
position: relative;
left: -28px;
top: -17px;
color:white;
font-size: 10px;
}

.msg_text {
  position: relative;
    width: 300px;
    text-align: left;
    height: 42px;
}

.msg_time_send{
  text-align: end;
  width: 200px;
  position: relative;
  right: 0px;
  top: -15px;
  color: white;
  font-size: 10px;
}

.msg_text_send {
  border: solid 1px white;
  height: 40px;
  width: 255px;
  text-align: right;
  position: relative;
}
.msg_head{
position: relative;
}
#action_menu_btn{
  position: absolute;
  right: 5px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 40px;
}
#action_menu_btn1{
  position: absolute;
  right: 10px;
  top: 80px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}

.chatContainer {
  background-color: "#8693AB"
}

.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.container{
  align-content: center;
}

.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}

/* .img_msg_cont {
  height: 40px;
  width: 40px;
  border-radius: 25px 0px 0px 25px;
  float: left;
  position: relative;
} */
.user_img_msg{
  height: 42px;
  border:1.5px solid #f5f6fa;
  border-radius: 50px 0px 0px 50px;
  float: left;
  position: relative;
  top: -2px;
  right: 2px;
  border: dotted 2px #077699;
}

.sent_img_msg {
  height: 42px;;
  border-radius: 0px 50px 50px 0px;
  float: right;
  position: relative;
  top: -45px;
  right: -3px;
  border: dotted 2px #077699;
}

.user_info {
font-size: 20px;
color:white;
text-shadow: 2px 2px 4px #000000;
background-color: #96CDFF;
border-radius: 0px 20px 20px 0px;
border: solid 1px #077699;
box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
padding: 5px 5px 5px 15px;
color: white;
z-index: 0; 
position: relative;
top: -40px;
right: -60px;
width: 245px;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

/* ChatWindow styles */

.chatWindowHeader {
  background-color: rgb(43,41,44, 0.3);
  border-radius: 20px 20px 0 0;
  border: groove 1px #96CDFF80;
  border-bottom: solid 3px #96CDFF;
}

.chat_user_img {
  height: 42px;
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: #96CDFF;
  border: dotted 2px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  z-index: 100 !important;
  position: relative;
  border-radius: 100%;
  right: -5px;
  top: 8px;
}

.chat_user_info {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
  background-color: #96CDFF;
  border-radius: 20px;
  border: solid 1px #077699;
  box-shadow: 2px 4px 2px rgb(43,41,44, 0.3);
  padding: 5px 40px 5px 40px;
  z-index: 0;
  position: relative;
  top: -25px;
  right: -50px;
  width: 300px;
}

/* .sysMsg {
  text-align:center;
  background: #077699;
  color: white;
  text-shadow: 2px 2px 4px #000000;
} */

#msglog {
  text-align:center;
  background: rgb(43,41,44, 0.3);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border: groove 1px #96CDFF;
  padding-bottom: 5px;
}

.chat_card {
  height: 76vh;
  background-color: #8693AB;
  border-radius: 20px;
  border: groove 1px rgb(43,41,44, 0.3);
  margin: 0 15px 0 15px;
}
